*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.naviagat{
    display: flex;
    align-items: center;
    justify-content: space-between;


}
 .naviagat .list{
    list-style: none;
    display: flex;
    gap: 15px;


 }

.naviagat .btn{
    background-color: #30B868;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;


}