*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/*navigator bar er style" */
.naviagat{
    display: flex;
    align-items: center;
    justify-content: space-between;
  width: 85%;
  margin: 0px auto;
  background: #FFFFFF;
  padding: 16px 0px;


}
  .list{
    list-style: none;
    display: flex;
    gap: 32px;
 }
 .list li{
     color: #000000;
    font-size: 16px;
    font-weight: 500;
 }

.btn{
    background-color: #30B868;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 5px;
     display: flex;
  align-items: center;
  gap: 6px;
     font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;

}
/*section part er style */
.bannar {
     display: flex;
  height: 800px;
  background-image: url("../assets/hero-bg.png");
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.bannar-upper
{
   display: inline;
   padding:6px 6px;
  align-items: center;
  border-radius:20px;
  background:#f1f5f9;
  color:#469165;
  width: max-content;
}
.bannar-upper-title{
    display:inline-block;
    height:8px;
    width:8px;
    border-radius:50%;
  background:#469165;
  margin-right:6px;
}
.btn-second{
     background: none;
  border: 1px solid white;
  padding: 12px 16px;
  color: white;
}
.bannar-content 
{
  text-align: center;
}
.bannar-title{
    color: #FFFFFF;
    font-size: 48px;
}
.banner-second-title{
    color: #30B868;
}
.bannar-para {
     color: #FFFFFF;
    margin-bottom: 15px;
    gap: 32px;
}
.bannar-button{
   display: flex;
   justify-content: center;
    gap: 15px;
}
/*main part er style */
 .first-section {
  padding: 60px 0px;
  text-align: center;
  background:#FFFFFF;
}
.first-title {
  margin-top: 35px;
  text-align: center;
  color: #001931;
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: bold;
  
}

.first-subtitle {
  text-align: center;
  font-size: 16px;
  margin-bottom: 44px;
  color: #627382;
} 
.first-cards {
    text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.first-card img{
  background-color: red;
  border-radius: 50%;
   padding: 8px;
  
}

.first-card {
 
  background: #ffffff;
  padding: 35px 25px;
  border-radius: 8px;
  flex: 1;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
}


.first-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 10px;
}

.first-card p {
  color: #627382;
  font-size: 16px;
  line-height: 1.6;
}

.second-container{
    margin-top: 110px;
    margin-bottom: 110px;
}

.second-brain {
  padding: 80px 60px;
  background: #ffffff;
}

.brain-wash {
  display: flex;
  align-items: center;
  gap: 60px;
}

.brain-imag {
  flex: 1;
  display: flex;
  justify-content: center;
}

.brain-imag img {
  width: 100%;
  max-width: 600px;
}
.brain-cont {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.des {
  color: #469165;
  font-size: 16px;
  font-weight: 500;
}
.paragraph {
  color: #627382;
  font-size: 16px;
  margin-bottom: 30px;
}

.brain-cont h2 {
  font-size: 48px;
  font-weight: 700;
  color:#001931;
  margin-bottom: 16px;
}

.third-container{
    text-align: center;
   background-color: #F7F6F2;
  padding: 80px 40px;
   
}
.third-container h1 {
    color: #333;
   font-weight: bold;
   font-size: 40px;
    margin-bottom: 10px;
   
}
   

.third-container p {
      color:#627382;
      margin-bottom: 20px;
      font-size: 16px;
}
.third-container button{
  margin-bottom: 24px;
}
 .element {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}

.element li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.center{
  margin: 0 auto;
}
